# ==================================================
# ------------------ DEPENDENCIES ------------------
# ==================================================
node_modules/
**/node_modules/


# ==================================================
# ------------------ BUILD OUTPUT ------------------
# ==================================================
dist/
**/dist/
next/
**/next/


# ==================================================
# ------------- ENVIRONMENT VARIABLES --------------
# ==================================================
.env
backend/.env.local
.env.*
!.env.example


# ==================================================
# --------------------- LOGS -----------------------
# ==================================================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


# ==================================================
# ------------------ SYSTEM FILES ------------------
# ==================================================
.DS_Store
Thumbs.db


# ==================================================
# ------------------ EDITOR FILES ------------------
# ==================================================
.vscode/
.idea/


# ==================================================
# ---------------- TYPESCRIPT FILES ----------------
# ==================================================
*.tsbuildinfo